:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
/* 
.wd-margin-bottom {
  margin-bottom: 50px;
}

.wd-margin-right-left {
  margin-left: 50px;
  margin-right: 50px;
}

.wd-margin-all-around {
  margin: 30px;
}


.wd-rounded-corners-top {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}


.wd-rounded-corners-bottom {
 border-bottom-left-radius: 40px;
 border-bottom-right-radius: 40px;
}

.wd-rounded-corners-all-around {
 border-radius: 50px;
}

.wd-rounded-corners-inline {
 border-radius: 30px 0px 20px 50px;
}

.wd-dimension-portrait {
  width: 75px;
  height: 100px;
}

.wd-dimension-landscape {
  width: 100px;
  height: 75px;
}

.wd-dimension-square {
  width: 75px;
  height: 75px;
}


.wd-pos-relative-nudge-up-right {
  position: relative;
  bottom: 30px;
  left: 30px;
}
.wd-pos-relative-nudge-down-right {
  position: relative;
  top: 20px;
  left: 20px;
}
.wd-pos-relative {
  position: relative;
}

.wd-pos-fixed {
  position: fixed;
  right: 0px;
  bottom: 50%;
}

.wd-zindex-bring-to-front {
  z-index: 10;
}

.wd-float-left {
  float: left;
  height: 100px;
}

.wd-float-right {
  float: right;
  height: 100px;
}

.wd-float-done {
  clear: both;
}

.wd-grid-row {
  clear: both;
}
.wd-grid-col-half-page {
  width: 50%;
  float: left;
}
.wd-grid-col-third-page {
  width: 33%;
  float: left;
}
.wd-grid-col-two-thirds-page {
  width: 67%;
  float: left;
}
.wd-grid-col-left-sidebar {
  width: 20%;
  float: left;
}
.wd-grid-col-main-content {
  width: 60%;
  float: left;
}
 */
